*{
    margin: 0%;
    padding: 0%;
}
@import url('https://fonts.googleapis.com/css2? family= Nanum+Gothic:wght@700 & family= Oleo+Script+Swash+Caps & family= Oswald:wght@200 & family= Poppins:peso@600 & pantalla=intercambiar');
#navbarNavAltMarkup{
    padding-top: 30px;
    

}
.nav-link{
    font-weight: bolder;
    font-size: 20px;
   
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: aliceblue;
    font-family:'Poppins', sans-serif; 
}
.text-center{
    font-family: 'Overpass', sans-serif ;
    font-size:32px;
    font-weight: bolder;
}
footer{
    background-color: cadetblue;
}
#titulo{
    font-size: 20px;
    color: white;
    background-color:cadetblue;

}
.container{
    margin-bottom: 10%;
}
.containerDos{
    color: blueviolet;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 50px;
}

 .mapa{
   padding-top:7%;
   padding-bottom: 5%;
    padding-left: 5%;
    
}
 .imagenEnex{
    justify-content: center;
    border: blueviolet;
    
}
.nosotros{
   padding-top: 50vh;
   margin-bottom: 70%;
}
.parrafo{ 
    font-size: 40px;
    color: aquamarine;
    border: solid yellow;
    font-weight: bolder;
}
p{
    font-size: 50px;
    font-weight: bolder;
    color: cadetblue;
}